[server]
default-time-zone=+01:00

[mysqld]
#allow larger BLOBs to be stored
max_allowed_packet = 100M
character-set-server = utf8mb4
default_authentication_plugin=mysql_native_password

bind-address = 0.0.0.0
pid-file     = /var/run/mysqld/mysqld.pid
socket       = /var/run/mysqld/mysqld.sock
port         = 3306

[client]
port         = 3306
socket       = /var/run/mysqld/mysqld.sock
