<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <property name="LOG_FILE" value="${user.home}/SIARD-Suite/siardcmd.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%thread)] %yellow(%logger{36}) %msg%n%throwable
            </pattern>
        </layout>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>9</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{36} - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <logger name="ch.admin.bar" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>